## Python Assignment 20

### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

# Saving the value of test1 to test.txt file
with open('test.txt', 'w') as file:
    file.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
# Reading the contents of test.txt into test2
with open('test.txt', 'r') as file:
    test2 = file.read()

# Comparing test1 and test2
if test1 == test2:
    print("test1 and test2 have the same content.")
else:
    print("test1 and test2 have different content.")

test1 and test2 have the same content.

### 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [1]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

filename = 'books.csv'

with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print(f"{filename} has been created successfully.")

books.csv has been created successfully.

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [3]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Database and table created successfully.")

Database and table created successfully.

### 5. Read books.csv and insert its data into the book table.

In [2]:
import csv
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Read the data from books.csv
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row

    # Insert each row into the books table
    for row in reader:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Data inserted successfully.")

Data inserted successfully.

### 6. Select and print the title column from the book table in alphabetical order.

In [3]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Select the title column in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print the title column
for row in rows:
    print(row[0])

# Close the connection
connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [4]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect('books.db')
cursor = connection.cursor()

# Select all columns in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print all columns
for row in rows:
    print(row)

# Close the connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [5]:
from sqlalchemy import create_engine

# Connect to the SQLite database using SQLAlchemy
engine = create_engine('sqlite:///books.db')

# Perform operations with the connected database
# For example, you can execute SQL queries or perform other database operations using the engine object
# ...

# Close the database connection
engine.dispose()

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [6]:
!pip install redis

Collecting redis
  Downloading redis-4.5.5-py3-none-any.whl (240 kB)
     -------------------------------------- 240.3/240.3 kB 2.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.5

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Create the Redis hash
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# Retrieve and print all fields of the Redis hash
fields = r.hgetall("test")
for field, value in fields.items():
    print(field.decode(), value.decode())

### 10. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Increment the count field of the Redis hash
r.hincrby("test", "count", 1)

# Get and print the updated value of the count field
count = r.hget("test", "count")
print(count.decode())