## Python Assignment 16

### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
#i born in 1999 so 
birth_year = 1999
years_list = [birth_year + i for i in range(6)]
print(years_list)

[1999, 2000, 2001, 2002, 2003, 2004]

### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
birth_year = 1999
years_list = [birth_year + i for i in range(6)]

third_birthday_year = years_list[3]
print(third_birthday_year)

2002

Third birthday would have been in the year 2002.

### 3.In the years list, which year were you the oldest?

In [4]:
birth_year = 1999
years_list = [birth_year + i for i in range(6)]

oldest_year = max(years_list)
print(oldest_year)

2004

he year they were the oldest would be 2004.

### 4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

### 6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [7]:
surprise = ["Groucho", "Chico", "Harpo"]
print(surprise)

['Groucho', 'Chico', 'Harpo']

### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
surprise = ["Groucho", "Chico", "Harpo"]

last_element = surprise[-1]  # Access the last element of the list
lowercased = last_element.lower()  # Convert the string to lowercase
reversed_string = lowercased[::-1]  # Reverse the string
capitalized = reversed_string.capitalize()  # Capitalize the first character

surprise[-1] = capitalized  # Update the last element in the list

print(surprise)

['Groucho', 'Chico', 'Oprah']

### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [9]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### 9. Write the French word for walrus in your three-word dictionary e2f.

In [10]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

french_word = e2f["walrus"]
print(french_word)

morse

So, according to the e2f dictionary, the French word for "walrus" is "morse".

### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [11]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

The f2e dictionary is created by iterating over the items of the e2f dictionary. Each key-value pair is reversed to have the French word as the key and the corresponding English word as the value. The resulting dictionary f2e represents a French-to-English translation.

You can access English words by using French words as keys in the f2e dictionary.

### 11. Print the English version of the French word chien using f2e.

In [12]:
f2e = {
    'chien': 'dog',
    'chat': 'cat',
    'morse': 'walrus'
}

english_word = f2e['chien']
print(english_word)

dog

 English translation of the French word "chien" is "dog"

### 12. Make and print a set of English words from the keys in e2f.

In [13]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_words = set(e2f.keys())
print(english_words)

{'cat', 'walrus', 'dog'}

### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [14]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

The life dictionary is created with the topmost keys 'animals', 'plants', and 'other'. The 'animals' key refers to another dictionary with the keys 'cats', 'octopi', and 'emus'. The 'cats' key, in turn, refers to a list of strings containing the values 'Henri', 'Grumpy', and 'Lucy'. The 'plants' and 'other' keys refer to empty dictionaries.

### 14. Print the top-level keys of life.

In [15]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

### 15. Print the keys for life[&#39;animals&#39;].

In [16]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

### 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [17]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']

The values are 'Henri', 'Grumpy', and 'Lucy.